<app-nav-home></app-nav-home>
<!--/#main-slider-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/images/i/2.jpg" alt="First slide">
      <div class="carousel-caption">
        <h1 class="display-2">Unidhi</h1>
        <h3>Unidhi sigle definition</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/i/2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/images/i/2.jpg" alt="Third slide">
    </div>
  </div>
</div>

  <!-- Intro Section -->
  <div class="container-fluid">
    <div class="row jumbotron">
      <div class="col-sm-12 col-md-9 col-lg-10">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente impedit quasi ipsam necessitatibus dignissimos aliquid, exercitationem perferendis ipsa illum est obcaecati debitis, eum natus recusandae praesentium eos, dolores nobis quibusdam!
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2">
        <a href=""><button class="btn btn-outline-secondary btn-lg" type="button">Recteur Intro...</button></a>
      </div>
    </div>
  </div>

<!-- Actuality Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6 text-justify">
      <h2>An actuality to Unidhi</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo quo ipsam aliquid earum nesciunt repudiandae eos.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minus voluptas, cum iusto accusamus debitis incidunt consequatur aliquam illo, molestias sequi numquam pariatur voluptatem? Nemo, ad nostrum. Libero, dolore blanditiis!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta harum expedita tempore neque animi delectus nihil vitae, omnis asperiores eligendi atque deleniti! Quaerat, laborum fugit!</p>
      <br>
      <a href="" class="btn btn-default">Learn more...</a>
    </div>
    <div class="col-lg-6">
      <img src="../../../assets/images/portfolio/full/item10.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
<hr class="my-4">

<!-- Academics Section -->
<div class="container-fluid padding">
  <div class="row welcome text-center padding">
    <div class="col-12">
      <h1 class="display-4">Academics</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">Preparing students to make meaningful contributions to society as engaged citizens and leaders in a complex world</p>
    </div>
  </div>
  <div class="row text-center padding">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="../../../assets/images/portfolio/full/item1.png" class="img-fluid" alt="">
        <h3>Undergraduate Students</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="../../../assets/images/portfolio/full/item2.png" class="img-fluid" alt="">
        <h3>Undergraduate Students</h3>
        <p>Lorem ipsum dolor sit amets consectetur.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="../../../assets/images/portfolio/full/item3.png" class="img-fluid" alt="">
        <h3>Undergraduate Students</h3>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
  </div>
</div>

<!-- Fixed Background -->
<figure>
  <div class="fixed-wrap">
   <div id="fixed"></div>
  </div>
</figure>

<!-- School Section -->
<button class="school" data-toggle="collapse" data-target="#school">Click for Schools</button>
<div id="school" class="collapse">
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <img src="../../../assets/images/2.jpg" alt="" class="gif">
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="../../../assets/images/2.jpg" alt="" class="gif">
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="../../../assets/images/2.jpg" alt="" class="gif">
      </div>
      <div class="col-sm-6 col-md-3">
        <img src="../../../assets/images/2.jpg" alt="" class="gif">
      </div>

    </div>
  </div>
</div>
<!-- Admission Section -->

<div class="container-fluid padding">
  <div class="row welcome text-center padding">
    <div class="col-12">
      <h1 class="display-4">Admission</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">An extraordinary freedom of opportunity—to explore, to collaborate and to challenge yourself</p>
    </div>
  </div>
</div>

<!-- About Section -->

<div class="container-fluid padding">
  <div class="row welcome text-center padding">
    <div class="col-12">
      <h1 class="display-4">About Unidhi</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">A place for learning, discovery, innovation, expression and discourse</p>
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Academics</h2>
      <p>Preparing students to make meaningful contributions&nbsp;to society as engaged citizens and leaders in a complex
        world</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/images/i/2.jpg" alt="">
      <h3>Undergraduate Education</h3>
      <p>Rich learning experiences that provide a broad liberal arts foundation and deep subject-area expertise</p>
      <a class="jump-link" href="#">Undergraduate Education<span class="fa fa-angle-right"
          aria-hidden="true"></span></a>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/i/2.jpg" alt="">
      <h3>Graduate Education</h3>
      <p>Rich learning experiences that provide a broad liberal arts foundation and deep subject-area expertise</p>
      <a class="jump-link" href="#">Undergraduate Education<span class="fa fa-angle-right"
          aria-hidden="true"></span></a>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/i/2.jpg" alt="">
      <h3>Lifelong learning</h3>
      <p>Rich learning experiences that provide a broad liberal arts foundation and deep subject-area expertise</p>
      <a class="jump-link" href="#">Undergraduate Education<span class="fa fa-angle-right"
          aria-hidden="true"></span></a>
    </div>
  </div>
<br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <h2>Seven schools in which to pursue your passions</h2>
        <ul class=" nav nav-pills">
          <li><a href="#">Medicine</a></li>
          <li><a href="#">Law</a></li>
          <li><a href="#">Humanities &amp; Sciences</a></li>
          <li><a href="#">Engineering</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Earth</a></li>
          <li><a href="">Business</a></li>
        </ul>
    </div>
  </div>
  <div class="text-center">
    <a href="" class="btn btn-lg btn-primary">More About Academics</a>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Admission</h2>
      <p>An extraordinary freedom of opportunity—to explore, to collaborate and to challenge yourself</p>
    </div>
  </div>
  
<div class="row">
   <div class="col-md-12 text-center">
    <img src="../../../assets/images/i/img3.png" class="img img-responsive" alt="">
   </div>
 </div>
 <div class="row">
   <div class="col-md-6">
      <h3>We look forward to learning about you through your application to Unidhi.
</h3>
<p>Three principles guide our holistic evaluation and selection process: academic excellence, intellectual vitality and
personal context.</p>
   </div>
   <div class="col-md-6">
    <h3>Unidhi meets the full financial need of every admitted undergrad who qualifies for assistance.</h3>
    <p>Nearly 70% of undergrads receive financial aid. Generally, tuition is free for families with incomes below $125,000.</p>
   </div>
 </div>
  <div class="text-center">
    <a href="" class="btn btn-lg btn-primary">More About Admission</a>
  </div>
</div> -->

<!-- 
<div class="feature">
  <div class="container">
    <div class="text-center" style="margin-top: -5%">
    </div>
    <div class="text-center" style="">
      <h2></h2>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-pencil"></i>
          <h2>Inscription</h2>
          <p>Les demandes d’admission se font avant les mois de janvier et juillet de...
            <br>
            <a href="inscription.html" class="" style="float: center;color: blue">Lire plus...</a>
          </p>

        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <i class="fa fa-home"></i>
          <h2>Admission</h2>
          <p>Un comité d´évaluation composé des cadres du programme (professeurs et administrateurs) <br>
            <a href="admission.html" class="" style="float: center;color: blue">Lire plus...</a>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-heart-o"></i>
          <h2>Programme</h2>
          <p>La Maitrise en Sciences de l´Education Agricole, Sécurité Alimentaire et Nutritionnelle(MSEASAN)<br>
            <a href="" class="" style="float: center;color: blue">Lire plus...</a>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
          <i class="fa fa-cloud"></i>
          <h2>Friendly Code</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.<br>
            <a href="" class="" style="float: center;color: blue">Lire plus...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="about">
  <div class="container">
    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h2>A propos de nous</h2>
      <img src="assets/images/6.jpg" class="img-responsive" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>

    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <h2>Bienvenue à l'Universite d'Hispaniola d'Haiti (UNIDHI)</h2>
      <p>L´Université d´Hispaniola dont le sigle officiel est UNIDHI est une institution privée haïtienne à but non
        lucratif. L´un de ses principes fondamentaux est qu´elle est fondée pour servir la communauté haïtienne et
        ailleurs dans le domaine de la formation universitaire de qualité, la recherche et l´action pour un
        développement durable de notre société.
        <p>Pour un développement durable de notre société, il faut des cadres qualifiés capables de produire des
          transformations profondes. Ainsi, au niveau de nos institutions éducatives, il faut former dans
          professionnels capables de répondre à cette noble tâche. Pourtant, l´un des problèmes majeurs de
          l´enseignement, notamment, supérieur en Haïti se trouve dans les méthodes d´enseignement. Ainsi, l´UNIDHI
          s’écarte et s´éloigne des méthodes traditionnelles qui alourdissent la transmission de savoirs et de valeurs.
        </p>
        <p>En effet, elle offre des programmes de spécialisations, de maitrises et de doctorats dans plusieurs domaines
          qui ne se limitent pas aux sciences agronomiques, de l´environnement, des sciences administratives, de
          l´éducation…Cependant, pour consolider ces programmes de deuxième cycle, elle développe certains programmes
          de licences et de diplôme dans ces différents champs. Elle développe aussi des programmes de certificats et
          des diplômes pour des formations de cycle court et continu.</p>
    </div>
  </div>
</div> -->

<!-- <div class="lates">
  <div class="container">
    <div class="text-center">
      <h2>Facultes</h2>
    </div>
    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
      <img src="assets/images/4.jpg" class="img-responsive" />
      <h3>Faculte d'Agronomie</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>

    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <img src="assets/images/4.jpg" class="img-responsive" />
      <h3>Faculte des sciences de l'Education</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>

    <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
      <img src="assets/images/4.jpg" class="img-responsive" />
      <h3>Faculte des sciences Administratives</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
        libero, pulvinar tincidunt leo consectetur eget. Curabitur lacinia pellentesque
      </p>
    </div>
  </div>
</div> -->

<!-- <section id="partner">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>Our Partners</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore
        magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="partners">
      <ul>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"
              src="assets/images/partners/partner1.png"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms"
              src="assets/images/partners/partner2.png"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms"
              src="assets/images/partners/partner3.png"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms"
              src="assets/images/partners/partner4.png"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms"
              src="assets/images/partners/partner5.png"></a></li>
      </ul>
    </div>
  </div>
  <!--/.container-->
<!-- </section> --> 
<!--/#partner-->

<!--  <section id="conatcat-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="pull-left">
            <i class="fa fa-phone"></i>
          </div>
          <div class="media-body">
            <h2>Have a question or need a custom quote?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  -/.container-->

<!--/#conatcat-info-->
