<!-- start:Left Menu -->
<div id="left-menu">
  <div class="sub-left-menu scroll">
    <ul class="nav nav-list">
      <li>
        <div class="left-bg"></div>
      </li>
      <li class="time">
        <h1 class="animated fadeInLeft">21:00</h1>
        <p class="animated fadeInRight">Sat,October 1st 2029</p>
      </li>
      <li class="active ripple">
        <a routerLink="/dash" class="tree-toggle nav-header">
          <span class="fa-home fa"></span> Dashboard
        </a>
        <ul class="nav nav-list tree">
        </ul>
      </li>
      <li class="ripple">
        <a class="tree-toggle nav-header">
          <span class="fa-user fa"></span> Candidat
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
        <ul class="nav nav-list tree">
          <li><a routerLink="/dash/candidats">Liste des candidats</a></li>
        </ul>
      </li>
      <li class="ripple">
        <a class="tree-toggle nav-header">
          <span class="fa-users fa"></span> Etudiant
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
        <ul class="nav nav-list tree">
          <li><a routerLink="/dash/etudiants">Liste des étudiants</a></li>
        </ul>
      </li>
      <li class="ripple"><a class="tree-toggle nav-header">
          <span class="fa fa-pencil-square"></span> Professeur
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
        <ul class="nav nav-list tree">
          <li><a routerLink="/dash/professeurs">Liste des professeurs</a></li>
        </ul>
      </li>

      <li class="ripple"><a class="tree-toggle nav-header">
          <span class="fa fa-pencil-square"></span> Sites
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
        <ul class="nav nav-list tree">
          <li><a>Home</a></li>
        </ul>
      </li>

    </ul>
  </div>
</div>
<!-- end: Left Menu -->
