<div class="login-page" style="padding: 10px;">
  <h2 style="color: #FFFFFF; text-align: center;">Unidhi</h2>
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name" name="name" />
      <input type="password" placeholder="password" [(ngModel)]="user.password" name="password" />
      <input type="text" placeholder="email address" [(ngModel)]="user.email" name="email" />
      <button (click)="onCreate()">create</button>
      <p class="message">Already registered?
        <a style="cursor: pointer;">Sign In</a>
      </p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username" [(ngModel)]="user.email" name="email" />
      <input type="password" placeholder="password" [(ngModel)]="user.password" name="password" />
      <button (click)="signInWithEmail()">login</button>
      <p class="message">Not registered?
        <a style="cursor: pointer;">Create an account</a>
      </p>
    </form>
  </div>
</div>
